/* OPTION GRID */
.option-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.option-grid label {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}

.option-grid img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* HIDE RADIO */
.option-grid input {
  display: none;
}

/* SELECT EFFECT */
.option-grid input:checked + img {
  outline: 3px solid #ff4d6d;
}

/* CHECKBOX STYLE */
.checkbox {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

/* TITLE */
.order-section h3 {
  margin-top: 25px;
}
